@model ModelMembro
<div class="container">
    <h3>Filtro por nome do membro</h3>
    <hr />

    <form asp-controller="Membro" asp-action="Filtro">
        <div class="form-row">
            <div class="col col-4">
                <input asp-for="Nome" type="text" class="form-control" placeholder="Digite o nome do membro" />
            </div>
            <div class="col col-2">
                <button type="submit" class="btn btn-outline-primary"><i class="fa fa-check"></i> Buscar</button>
            </div>
        </div>
    </form>
</div>

<br />

<div class="container">
    <div class="table-responsive">
        <table class="table-striped">
            <thead>
                <tr>
                    <td></td>
                    <td></td>
                    <td style="padding: 0px 20px 0px 20px;">Id</td>
                    <td style="padding: 0px 20px 0px 20px;">Nome</td>
                    <td style="padding: 0px 20px 0px 20px;">Email</td>
                </tr>
            </thead>

            <tbody>
                @{
                    @try
                    {


                        @foreach (var item in (List<ModelMembro>)ViewBag.ListaMembro)
                        {
                            <tr>
                                <td style="padding: 2px;"><button type="button" class="btn btn-outline-warning btn-sm Editar" data-Id="@item.Id"><i class="fa fa-edit"></i> Editar</button> |</td>
                                <td style="padding: 2px;"><button type="button" class="btn btn-outline-danger btn-sm Excluir" data-Id="@item.Id"><i class="fa fa-eraser"></i> Excluir</button></td>

                                <td style="padding: 0px 20px 0px 20px; color:red">@item.Id</td>
                                <td style="padding: 0px 20px 0px 20px;">@item.Nome</td>
                                <td style="padding: 0px 20px 0px 20px; color:blue">@item.Nome</td>
                            </tr>
                        }
                    }
                    catch
                    {
                        //
                    }
                }
            </tbody>
        </table>
        <div class="modal" id="modal">

        </div>

        @section scripts{
            <script>
                $(function () {
                    $(".Editar").click(function () {
                        var id = $(this).attr("data-id");
                        $("#modal").load("Cadastro?id=" + id, function () {
                            $("#modal").modal();
                        })
                    });
                })

                $(function () {
                    $(".Excluir").click(function () {
                        var id = $(this).attr("data-id");
                        $("#modal").load("Excluir?id=" + id, function () {
                            $("#modal").modal();
                        })
                    });
                })

            </script>
        }

        <br />

        <button type="button" class="btn btn-info btn-sm" onclick="Voltar()"><i class="fa fa-step-backward"></i> Voltar</button>

        <div style="margin-top: 20px">
            <hr />
            <p>@DateTime.Now.Year - IURD - Grupos e Membros - Por Paulo Bruno &reg;</p>
        </div>

        <script>

            function Voltar() {
                window.location.href = '../Membro/Index';
            }

        </script>
    </div>
</div>