<div class="container">
    <div class="form-inline">
        <div class="col col-8">
            <h3>Listagem de Gupos e Membros</h3>
        </div>
        <button type="button" class="btn btn-outline-success" onclick="Filtro()"><i class="fa fa-filter"></i> Filtro por Nome do grupo</button>
    </div>
    <hr />
   
    <div class="form-inline">
        <button type="button" class="btn btn-outline-primary Cadastro"><i class="fa fa-check"></i> Registrar</button>
        <button type="button" class=" btn btn-outline-dark ml-3" onclick="Voltar()"><i class="fa fa-step-backward"></i> Voltar</button>
    </div>
</div>

<br /><br />

<div class="container">
    <div class="table-responsive">
        <table class="table-striped">
            <thead>
                <tr>
                    <!--<th style="padding: 0px 20px 0px 20px;">Id</th>-->
                    <th style="padding: 0px 20px 0px 20px;">Id</th>
                    <th style="padding: 0px 20px 0px 20px;">Grupo</th>
                    <th style="padding: 0px 20px 0px 20px;">Id</th>
                    <th style="padding: 0px 20px 0px 20px;">Nome</th>
                    <th style="padding: 0px 20px 0px 20px;">Email</th>
                </tr>
            </thead>

            <tbody>
                @{
                    foreach (var item in (List<GrupoMembroModel>)ViewBag.Lista)
                    {
                        <tr>
                            <!--<td style="padding: 0px 20px 0px 20px; color:red; font-family:Arial; font-style:italic;">@item.Id</td>-->
                            <td style="padding: 0px 20px 0px 20px; color:red;">@item.IdGrupo</td>
                            <td style="padding: 0px 20px 0px 20px;">@item.GrupoNome</td>
                            <td style="padding: 0px 20px 0px 20px; color:red;">@item.IdUsuario</td>
                            <td style="padding: 0px 20px 0px 20px;">@item.Nome</td>
                            <td style="padding: 0px 20px 0px 20px; color:blue;">@item.Email</td>
                            <td style="padding: 2px;"><button type="button" class="btn btn-outline-danger btn-sm Excluir" data-Id="@item.Id"><i class="fa fa-eraser"></i> Excluir</button></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <div class="modal" id="modal">

        </div>

        <div style="margin-top: 20px">
            <hr />
            <p>@DateTime.Now.Year - IURD - Grupos e Membros - Por Paulo Bruno &reg;</p>
        </div>
    </div>
</div>

@section scripts{
    <script>

        $(function () {
            $(".Excluir").click(function () {
                var id = $(this).attr("data-id");
                $("#modal").load("Excluir?id=" + id, function () {
                    $("#modal").modal();
                })
            });
        })

        $(".Cadastro").click(function () {
            $("#modal").load("Registrar", function () {
                $("#modal").modal();
            })
        });


    </script>
}

<script>

    function Filtro() {
        window.location.href = '../GrupoMembro/Filtro';
    }

    function Voltar() {
        window.location.href = '../Home/Index';
    }

</script>
